$border: 0px solid #ffffff;

.flex-container {
	margin: 0;
	display: flex;
	justify-content: center;
	font-family: 'Dosis';
	

	h2 {
		border: $border;
		letter-spacing: 2px;
	}

	ul {
		list-style: none;
		border: $border;
		letter-spacing: 1px;
	}

	p {

		font-size: 20px;
		line-height: 30px;
		border: $border;
		letter-spacing: 1px;
	}
}

.description-img1 {
	background-image: url('./window-cleaning.jpg');
    background-position: 0 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    min-height: 500px;
}

.description-img2 {
	background-image: url('./jetwash.jpg');
    background-position: right 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    min-height: 500px;
}

.description-img3 {
	background-image: url('./guttering.jpg');
    background-position: 0 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    min-height: 500px;
}

.description-text {
	margin: 0;
	// background-color: lightgray;
	width: 50%;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
	height: 900px;
	padding: 180px;
	z-index: 3;
	text-align: left;
	height: auto;
}