// about //

$border: 0px solid #ffffff;
$font: 'Dosis';

.about-section {
	padding: 50px 0 50px 0;
	width: 1200px;
}

.about-container {
    width: 50%;
    float: left;
	padding: 20px;
	font-family: $font;

	h1 {
		padding-top: 20px;
		line-height: 54px;
		font-size: 40px;
		margin: 0;
		font-family: $font;
		letter-spacing: 4px;
	}

	p {
		padding-top: 30px;
		font-size: 20px;
		letter-spacing: 1px;
	}

    img {
        width: 400px;
        height: 100%;
    }
}