$border: 0px solid #ffffff;
$font: 'Dosis';

.contact-section {
	text-align: center;
	padding: 100px 0 50px 0;
	background-color: #072030;
	color: #ffffff;

	h1 {
		font-family: $font;
		margin: 0;
		padding-bottom: 50px;
		font-size: 40px;
	}

}

.contact-container {
	padding: 50px 0 0px 0;
	font-family: $font;
	justify-content: center;
	display: flex;
	margin: auto;

	.heading {
		font-family: 'Cinzel';
		padding: 0px
	}

	.flex-container {
		display: flex;
		flex-direction: column;
		padding: 20px;
		width: 400px;
		height: 100%;
		margin: 0 100px 0 100px;

		.contact {
			display: flex;
			padding: 0px 0 50px 0;
		}

		.contact-text {
			padding: 10px 0 50px 0;
			font-size: 20px;
			line-height: 24px;
			margin: 0;
			letter-spacing: 2px;
		}
	}
}

.icons-svg {
	fill: #ffffff;
}

.icons {
	margin: 0 15px 0 15px;
}

@media screen and (max-width: 770px) {

	.contact-section {
	
		h1 {
			padding-bottom: 100px;
		}
	
	}

	.contact-container {
		flex-direction: column;
		padding: 0px 0 0px 0;
		height: 100%;


		.flex-container {
			width: 100%;
			margin: 0;
			padding: 0;
			height: 100%;

			.contact {
				display: block;
			}

			.contact-text {
				padding: 10px 0 25px 0;
			}
		}
	}
}

@media screen and (max-width: 640px) {

	.contact-section {
	
		h1 {
			padding-bottom: 100px;
		}
	
	}

	.contact-container {
		flex-direction: column;
		padding: 0px 0 0px 0;


		.flex-container {
			width: 100%;
			margin: 0;
			padding: 0;

			.contact {
				display: block;
			}

			.contact-text {
				padding: 10px 0 25px 0;
			}
		}
	}
}