// contact //

$border: 0px solid #ffffff;
$font: 'Dosis';

.contact-section {

	padding: 50px 0 50px 0;
	background-color: #072030;
	color: #ffffff;

	h1 {
		font-family: $font;
	}
	
}

.icons-svg {
	fill: #ffffff;
}

.icons {
	margin: 0 15px 0 15px;
}

.contact-container {
	padding: 50px 0 0px 0;
	font-family: $font;
	justify-content: center;
	display: flex;

	.heading {
		padding: 50px
	}

	.flex-container {
		display: flex;
  		flex-direction: column;
		justify-content: center;
		padding: 20px;
		width: 400px;
		height: 100%;
		margin: 0 100px 0 100px;
	}

	.contact {

		display: flex;
	}

	.contact-text {
		padding: 10px 0 60px 0;
		font-size: 20px;
		line-height: 24px;
		margin: 0;
		letter-spacing: 2px;
	}
}