$border: 0px solid #ffffff;
$font: 'Dosis';

.services-container {
	text-align: center;
	padding: 100px 0 100px 0;
	background-color: #072030;
	color: #ffffff;

	h1 {
		border: $border;
		line-height: 54px;
		font-size: 40px;
		padding-bottom: 50px;
		margin: 0;
		font-family: $font;
		letter-spacing: 4px;
	}

	ul {
		font-size: 20px;
		line-height: 24px;
		border: $border;
		padding: 0;
		margin: 0;
		letter-spacing: 2px;

		li {
			list-style: none;
			border: $border;
			margin: 10px;
			font-weight: 200;
		}
	}

	.flex-container {
		display: flex;
		justify-content: center;
	}

	.service {
		width: 400px;
		height: 100%;
		border: $border;
		margin: 10px 0px 30px 0px;

		img {
			width: 120px;
			height: 120px;
			border: $border;
			// margin: 50px 50px 0 60px;
		}

		h2 {
			margin-top: 30px;
			line-height: 25px;
			font-size: 22px;
			letter-spacing: 5px;
			border: $border;
			padding: 0 0 40px 0;
			font-family: $font;
		}
	}
}

@media screen and (max-width: 900px) {
	.services-container {
		
		h1 {
			font-size: 65px;
			font-weight: 200;
			padding-bottom: 160px;

		}

		ul {

			li {
				font-size: 22px;
				letter-spacing: 3px;
			}
		}

		.flex-container {
			flex-direction: column;
		}

		.service {
			width: 100%;
			margin: 50px 0px 50px 0px;

			h2 {
				font-size: 36px;
				letter-spacing: 8px;
				font-weight: 400;
			}
		}
	}
}

@media screen and (max-width: 770px) {
	.services-container {
		
		h1 {
			line-height: 54px;
			font-size: 50px;
			padding-bottom: 100px;
			letter-spacing: 5px;
		}

		ul {

			li {
				letter-spacing: 3px;
			}
		}

		.flex-container {
			flex-direction: column;
		}

		.service {
			width: 100%;
			margin: 50px 0px 50px 0px;

			h2 {
				font-size: 35px;
			}
		}
	}
}

@media screen and (max-width: 640px) {
	.services-container {
		h1 {
			line-height: 54px;
			font-size: 45px;
			padding-bottom: 100px;
			letter-spacing: 5px;
		}

		ul {

			li {
				letter-spacing: 2px;
			}
		}

		.flex-container {
			flex-direction: column;
		}

		.service {
			width: 100%;
			margin: 50px 0px 50px 0px;

			h2 {
				font-size: 28px;
				letter-spacing: 4px;
				padding: 0 0 25px 0;
			}
		}
	}
}

@media screen and (max-width: 360px) {
	.services-container {
		h1 {
			line-height: 54px;
			font-size: 45px;
			padding-bottom: 100px;
			letter-spacing: 5px;
		}

		ul {

			li {
				letter-spacing: 1px;
				font-size: 20px;
			}
		}

		.flex-container {
			flex-direction: column;
		}

		.service {
			width: 100%;
			margin: 40px 0px 40px 0px;

			h2 {
				font-size: 30px;
				letter-spacing: 4px;
				padding: 0 0 20px 0;
			}
		}
	}
}