//// Nav Bar ////

@import url('https://fonts.googleapis.com/css?family=Cinzel:300,400,700&display=swap');

a {
    padding-top: 10px;
    height: 100%;
    text-decoration: none;
    color: white;
    display: block;
    transition: .3s background-color;

    &:hover {
        background-color: white;
        color: #072030;

    }

    &:active {
        background-color: #c8c4c0;
        color: #072030;
        cursor: default;
    }
}

.nav {
    width: 900px;
    margin: auto;



    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;

        li {
            font-family: 'Dosis', sans-serif;
            font-weight: 300;
            font-size: 20px;
            line-height: 40px;
            height: 60px;
            // border-bottom: 1px solid #888;
            display: inline-block;
            width: 25%;
            letter-spacing: 1px;
            padding: 0px 0 0 0;
        }
    }
}

@media screen and (min-width: 600px) {
    .nav {
        li {
            width: 120px;
            border-bottom: none;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            display: inline-block;

        }
    }
}
