header {
    background-color: #072030;
    font-family: 'Dosis';

    nav {
        border-bottom: 1px solid #ffffff;
        height: 50px;
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-size: 25px;
        line-height: 50px;
        font-weight: 200;

        a {
            color:inherit;
            text-decoration: none;

            &:hover {
                background-color: #ffffff;
                color: #072030;

            }

            &:active {
                background-color: #c8c4c0;
                color: #072030;
                cursor: default;
            }

            div {
                width: 150px;
            }
        }
    }
}


@media screen and (max-width: 640px) {
    header {
        background-color: #072030;

        nav {
            border-bottom: 1px solid #ffffff;
            height: 50px;
            display: flex;
            justify-content: center;
            color: #ffffff;
            line-height: 50px;

            a {
                font-size: 25px;
                text-decoration: none;

                &:hover {
                    background-color: #ffffff;
                    color: #072030;

                }

                &:active {
                    background-color: #c8c4c0;
                    color: #072030;
                    cursor: default;
                }

                div {
                    width: 150px;
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
	header {
        nav {
            border-bottom: 1px solid #ffffff;
            height: 50px;
            display: flex;
            justify-content: center;
            color: #ffffff;
            line-height: 50px;

            a {
                font-size: 20px;
                text-decoration: none;

                &:hover {
                    background-color: #ffffff;
                    color: #072030;

                }

                &:active {
                    background-color: #c8c4c0;
                    color: #072030;
                    cursor: default;
                }

                div {
                    width: 75px;
                }
            }
        }
    }
}
