@import url('https://fonts.googleapis.com/css?family=Cinzel:100, 300,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

@import 'nav-bar';
@import 'footer';

$font: 'Cinzel', sans-serif;

body {
	margin: 0;
	padding: 0;
	font-family: $font;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}

header {
	background-color: #072030;
}

h1 {
	font-family: $font;
}

h2 {
	font-family: $font;
}

section {
	margin: auto;
	overflow: hidden;
}
