@import url('https://fonts.googleapis.com/css?family=Cinzel:100,300,500,700&display=swap');


/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;

}

/* First image (Logo. Full height) */
.bgimg-1 {
	background-image: url('./assets/images/water.gif');
	min-height: 100vh;
	position: relative;
	background-size: cover;
	color: #072030;

	h1 {
        font-family: 'Cinzel';
        font-size: 25px;
        margin: 0 0 10px 0;
        font-weight: 700;
    }

	h2 {
		font-family: 'Cinzel';
		margin: -10px;
		font-size: 24px;
		font-weight: 500;
	}

}

/* Second image (Portfolio) */
.bgimg-2 {
	background-image: url("/w3images/parallax2.jpg");
	min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
	background-image: url("/w3images/parallax3.jpg");
	min-height: 400px;
}

.landing-img {
	margin: 145px 0 0;
	z-index: -1;
	width: 300px;
	height: 300px;
	position: relative;
	z-index: -1;
}

.bgimg-1 h1 {
	margin: 0;
	font-size: 60px;
	font-weight: 700;
	z-index: 1;
	position: relative;
	color: white;
}

.bgimg-1 h2 {
	margin: -10px;
	font-size: 34px;
	font-weight: 500;
	position: relative;
	z-index: 1;
	color: white;
}

.bgimg-1 .img {
	margin: 100px 0 0 0;
	height: 300px;
	width: 300px;
	z-index: 3;
}

.bgimg-1:after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	background-color: black;
	opacity: 0.4;
	top: 0;
	left: 0;
	}
