//// Landing ////

#landing-page {
	position: relative;
	background-size: cover;
	height: 200px;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #c8c4c0;
}

/* First image (Logo. Full height) */
.bgimg-1 {
	background-image: url('./assets/images/WormsHead.png');
	min-height: 100vh;

}

/* Second image (Portfolio) */
.bgimg-2 {
	background-image: url("/w3images/parallax2.jpg");
	min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
	background-image: url("/w3images/parallax3.jpg");
	min-height: 400px;
}
